.btn-huge {
  padding: 12px 18px;
  font-size: 18px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.btn-huge [class^="icon-"] {
  margin-top: 2px;
}
.bg-container {
    background: -moz-radial-gradient(center 45%, ellipse closest-corner, #ffffff, #E0E0E0 85%);
    background: -webkit-radial-gradient(center 45%, ellipse closest-corner, #ffffff, #E0E0E0 70%);
    background: -o-radial-gradient(center 45%, ellipse closest-corner, #ffffff, #E0E0E0 85%);
    background: -ms-radial-gradient(center 45%, ellipse closest-corner, #ffffff, #E0E0E0 85%);
    background: radial-gradient(center 45%, ellipse closest-corner, #ffffff, #E0E0E0 85%);
}
body {
	background-image: url("../img/background.png");
}
.hero-unit {
    background-color:rgba(208,208,208,0.3);
    padding: 30px;
    margin-bottom: 10px;
}
pre {
	color: #D14;
}
bio {
	font-size: 13px; 
}